@{ ViewData["Title"] = "Home Page"; }

<!-- Carsouel -->
<div id="carousel-controls" class="carousel slide" data-ride="carousel">
  <div id="carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2022/10/20/11/26/landscape-7534634_960_720.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2022/12/17/14/17/winter-7661769_960_720.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2022/04/03/13/01/flower-7108886_960_720.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>  
</div>

<!-- Services section -->
<section id="services" class="row">

  <div>
    <h3 class="text-center text-uppercase section-title">Services</h3>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam tenetur nesciunt, exercitationem harum, dolore optio laudantium sit veritatis eveniet, sint nisi debitis sapiente nam? Molestiae vitae dolorum assumenda quibusdam reiciendis! Placeat officiis aliquam accusamus?</p>
  </div>

  <!-- Services -->
  <div class="row text-center">

    <div class="col-md-3 service-card">
      <div class="service-icon">
        <i class="bi bi-globe-europe-africa"></i>
      </div>
      <div class="service-title">
      <h5>Lorem Ipsum</h5>
      </div>
      <div class="service-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque similique in exercitationem!</p>
      </div>
    </div>

    <div class="col-md-3 service-card">
      <div class="service-icon">
        <i class="bi bi-map-fill"></i>
      </div>
      <div class="service-title">
        <h5>Lorem Ipsum</h5>
      </div>
      <div class="service-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque similique in exercitationem!</p>
      </div>
    </div>

    <div class="col-md-3 service-card">
      <div class="service-icon">
        <i class="bi bi-speedometer2"></i>
      </div>
      <div class="service-title">
       <h5>Lorem Ipsum</h5>
      </div>
      <div class="service-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque similique in exercitationem!</p>
      </div>
    </div>
     
  </div>

</section>

<!-- Pricing plan -->
<section id="price-plan" class="row">
  <h3 class="text-center text-uppercase section-title">Our pricing plan</h3>
  
  <div class="col-md-4 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-dark">Sign up for free</button>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-sm btn-lg btn-block btn-success">Get started</button>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-sm btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>


</section>
