@{ ViewData["Title"] = "About Page"; }

<div id="about">

  <h1 class="text-center mt-5">About us</h1>

  <!-- Who are we? -->
  <section>
    <h3>Who are we?</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, non soluta deserunt distinctio itaque sint laborum. Repudiandae, perferendis laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nihil labore quasi earum perferendis dolore enim eveniet accusantium, rerum aliquid quae amet, deserunt ducimus, nam sequi odit necessitatibus magnam maxime itaque incidunt sit aperiam dolor quaerat. Consequatur nostrum nisi commodi amet nemo tenetur temporibus modi obcaecati at, saepe eveniet voluptas dolore aliquam magni. Vero dolore natus quia vitae! Tempora quae, delectus fugit iusto perferendis sint veritatis enim repellendus alias eius in laboriosam magni impedit blanditiis quisquam consectetur ipsum ut cupiditate officiis, maxime provident eligendi. Ut, in sequi voluptate iste dolorem consectetur pariatur velit error illo vitae molestiae optio nam perferendis sapiente qui voluptas veritatis eveniet tempora aut doloribus. Eveniet voluptate deserunt quisquam id culpa sed aliquam nemo mollitia quae eum temporibus itaque deleniti rerum amet omnis tempore architecto voluptas quidem dolores dolorum, a fugiat? Ut placeat quaerat mollitia natus quae minima totam vero voluptates ducimus!</p>
  </section>

  <!-- Why are we here? -->
  <section>
    <h3>Why are here?</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas nisi odit itaque iure voluptates, error deleniti harum, ipsum praesentium ut cumque. Dicta velit nulla modi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sint optio odio ex maiores rerum reiciendis accusantium, eligendi quas vitae distinctio ipsam debitis, aliquid magnam impedit modi maxime culpa animi dolor corporis ad dicta? Et sed accusantium adipisci quia, consequuntur impedit quidem quibusdam esse deserunt.</p>
  </section>

  <!-- Our amazing team -->
  <section>
    <h3>Our amazing team</h3>
    
    <div class="row mt-3">

      <div class="col-md-3">
        <div class="card mx-auto mb-3 mb-md-0" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/200" alt="member one personal pic">
          <div class="card-body">
            <h5 class="text-center">John Doe</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut inventore labore amet qui ea.
            </p>
            
            <div class="text-center">
              <a href="#" class="mx-2">
                <i class="bi bi-google"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mx-auto mb-3 mb-md-0" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/100" alt="member one personal pic">
          <div class="card-body">
            <h5 class="text-center">John Doe</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut inventore labore amet qui ea.
            </p>
            
            <div class="text-center">
              <a href="#" class="mx-2">
                <i class="bi bi-google"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mx-auto mb-3 mb-md-0" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/90" alt="member one personal pic">
          <div class="card-body">
            <h5 class="text-center">John Doe</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut inventore labore amet qui ea.
            </p>
            
            <div class="text-center">
              <a href="#" class="mx-2">
                <i class="bi bi-google"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mx-auto mb-3 mb-md-0" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/150" alt="member one personal pic">
          <div class="card-body">
            <h5 class="text-center">John Doe</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut inventore labore amet qui ea.
            </p>
            
            <div class="text-center">
              <a href="#" class="mx-2">
                <i class="bi bi-google"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
    
  </section>
  

</div>